@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');
.megagrid {
    display: grid;
    grid-template-columns: auto 100vh auto;
}  

body {
    background-color:white;
}

body a {
    background-color: White;
    color: Black;
    font-family: 'Odibee Sans';
}

.leftcolumn {
    font-family: 'JetBrains Mono', monospace;
    margin-top: 0;
    grid-column: 1;
    position:absolute;
}

.controls {
    position: fixed;
    display: block;
    transform: translateY(15vh);
    z-index: 0;
    width: 15vw;
}

.controls h1{
    font-size: 5vh
}

.controls h2{
    font-size: 3vh
}

.contols label {
    font-size: 2vh;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2vh;
    width: 2vh;
    background-color: #d1d1d1;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: rgb(170, 169, 169);
}

/* When the radio button is checked, add a black background */
.container input:checked ~ .checkmark {
    background-color: #000000;
}

input{
    text-transform:uppercase;
    width: 8vw
}

button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: .2vh;
    border-width: .3px;
}

button:hover{
    cursor: pointer;
}

.colorWell:hover{
    cursor: pointer;
}

.logo{
    position: fixed;
    background-color: white;
    font-family: 'Odibee Sans';
    font-size: 15vh;
    z-index: 2;
    transform: translateY(-11vh);
    width: 15vw;
    height: 16vh;
    color: cornflowerblue
}

.logo:hover{
    cursor: pointer;
    color:cornflowerblue;
}

.middlecolumn {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: white;
    height: 100vh;
    cursor: pointer;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes zoom{
    0%{
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100%{
        transform: scale(2.0);
        -webkit-transform: scale(2.0);
    }
}



.gridcontainer {
    display: grid;
    z-index: 2;
    grid-template-columns: 10vh 9vh 8vh 7vh 6vh 5vh 3vh 1vh .75vh .5vh .75vh 1vh 3vh 5vh 6vh 7vh 8vh 9vh 10vh 100%;
    grid-template-rows: 10vh 9vh 8vh 7vh 6vh 5vh 3vh 1vh .75vh .5vh .75vh 1vh 3vh 5vh 6vh 7vh 8vh 9vh 10vh 100%;
    transform: scale(auto);
    
}

.gridcontainer:hover {
    animation: spin;  
    animation-duration: 10s;    
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    color: cornflowerblue; 
}

    /* first shell */

    .item1 {
        grid-column-start: 1;
        grid-column-end: 19;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 10vh;
    }

    .item2 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 20;
        writing-mode: vertical-rl;
        font-size: 10vh;
    }

    .item3 {
        grid-column-start: 2;
        grid-column-end: 20;
        grid-row-start: 19;
        grid-row-end: 19;
        font-size: 10vh;
    }

    .item4 {
        grid-column-start: 19;
        grid-column-end: 19;
        grid-row-start: 1;
        grid-row-end: 19;
        writing-mode: vertical-rl;
        font-size: 10vh;
    }


    /* second shell */

    .item5 {
        grid-column-start: 2;
        grid-column-end: 18;
        grid-row-start: 2;
        grid-row-end: 2;
        font-size: 9vh;
    }

    .item6 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 19;
        writing-mode: vertical-rl;
        font-size: 9vh;
    }

    .item7 {
        grid-column-start: 3;
        grid-column-end: 19;
        grid-row-start: 18;
        grid-row-end: 18;
        font-size: 9vh;
    }

    .item8 {
        grid-column-start: 18;
        grid-column-end: 18;
        grid-row-start: 2;
        grid-row-end: 18;
        writing-mode: vertical-rl;
        font-size: 9vh;
    }


    /* third shell */

    .item9 {
        grid-column-start: 3;
        grid-column-end: 17;
        grid-row-start: 3;
        grid-row-end: 3;
        font-size: 8vh;
    }

    .item10 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 18;
        writing-mode: vertical-rl;
        font-size: 8vh;
    }

    .item11 {
        grid-column-start: 4;
        grid-column-end: 18;
        grid-row-start: 17;
        grid-row-end: 17;
        font-size: 8vh;
    }

    .item12 {
        grid-column-start: 17;
        grid-column-end: 17;
        grid-row-start: 3;
        grid-row-end: 17;
        writing-mode: vertical-rl;
        font-size: 8vh;
    }


    /* fourth shell */

    .item13 {
        grid-column-start: 4;
        grid-column-end: 16;
        grid-row-start: 4;
        grid-row-end: 4;
        font-size: 7vh;
    }

    .item14 {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 17;
        writing-mode: vertical-rl;
        font-size: 7vh;
    }

    .item15 {
        grid-column-start: 5;
        grid-column-end: 17;
        grid-row-start: 16;
        grid-row-end: 16;
        font-size: 7vh;
    }

    .item16 {
        grid-column-start: 16;
        grid-column-end: 16;
        grid-row-start: 4;
        grid-row-end: 16;
        writing-mode: vertical-rl;
        font-size: 7vh;
    }


    /* fifth shell */

    .item17 {
        grid-column-start: 5;
        grid-column-end: 15;
        grid-row-start: 5;
        grid-row-end: 5;
        font-size: 4.97vh;
    }

    .item18 {
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 16;
        writing-mode: vertical-rl;
        font-size: 4.97vh;
    }

    .item19 {
        grid-column-start: 6;
        grid-column-end: 16;
        grid-row-start: 15;
        grid-row-end: 15;
        font-size: 4.97vh;
    }

    .item20 {
        grid-column-start: 15;
        grid-column-end: 15;
        grid-row-start: 5;
        grid-row-end: 15;
        writing-mode: vertical-rl;
        font-size: 4.97vh;
    }


    /* sixth shell */

    .item21 {
        grid-column-start: 6;
        grid-column-end: 14;
        grid-row-start: 6;
        grid-row-end: 6;
        font-size: 2.86vh;
    }

    .item22 {
        grid-column-start: 6;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 15;
        writing-mode: vertical-rl;
        font-size: 2.86vh;
    }

    .item23 {
        grid-column-start: 7;
        grid-column-end: 15;
        grid-row-start: 14;
        grid-row-end: 14;
        font-size: 2.86vh;
    }

    .item24 {
        grid-column-start: 14;
        grid-column-end: 14;
        grid-row-start: 6;
        grid-row-end: 14;
        writing-mode: vertical-rl;
        font-size: 2.86vh;
    }


    /* seventh shell */

    .item25 {
        grid-column-start: 7;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 7;
        font-size: 1.33vh;
    }

    .item26 {
        grid-column-start: 7;
        grid-column-end: 7;
        grid-row-start: 8;
        grid-row-end: 14;
        writing-mode: vertical-rl;
        font-size: 1.33vh;
    }

    .item27 {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 13;
        grid-row-end: 13;
        font-size: 1.33vh;
    }

    .item28 {
        grid-column-start: 13;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 13;
        writing-mode: vertical-rl;
        font-size: 1.33vh;
    }


    /* eighth shell */

    .item29 {
        grid-column-start: 8;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 8;
        font-size: 0.5vh;
    }

    .item30 {
        grid-column-start: 8;
        grid-column-end: 8;
        grid-row-start: 9;
        grid-row-end: 13;
        writing-mode: vertical-rl;
        font-size: 0.5vh;
    }

    .item31 {
        grid-column-start: 9;
        grid-column-end: 13;
        grid-row-start: 12;
        grid-row-end: 12;
        font-size: 0.5vh;
    }

    .item32 {
        grid-column-start: 12;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 12;
        writing-mode: vertical-rl;
        font-size: 0.5vh;
    }


    /* ninth shell */

    .item33 {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 9;
        grid-row-end: 9;
        font-size: 0.2vh;
    }

    .item34 {
        grid-column-start: 9;
        grid-column-end: 9;
        grid-row-start: 10;
        grid-row-end: 12;
        writing-mode: vertical-rl;
        font-size: 0.2vh;
    }

    .item35 {
        grid-column-start: 10;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 11;
        font-size: 0.2vh;
    }

    .item36 {
        grid-column-start: 11;
        grid-column-end: 11;
        grid-row-start: 10;
        grid-row-end: 11;
        writing-mode: vertical-rl;
        font-size: 0.2vh;
    }


    /* middle shell */

    .item37 {
        grid-column-start: 10;
        grid-column-end: 10;
        grid-row-start: 10;
        grid-row-end: 10;
        font-size: 0.15vh;
    }

.displaygrid {
    display:grid ;
    grid-template-columns: 15vw auto;
    grid-template-rows: 15vh auto;
    font-family: 'JetBrains Mono', monospace;
}

    .side {
        grid-column: 1;
        grid-row-start: 2;
    }
    
    .side .content{
        position: fixed;
        display: block;
        width: 15vw;
    }
    .side h1{
        font-size: 5vh
    }
    
    .side h2{
        font-size: 3vh
    }
    .side a{
        color: cornflowerblue;
        cursor: pointer;
        font-family: 'JetBrains Mono', monospace;
        font-size: 3vh
    }

.imagegrid{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display:grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: auto auto auto;
    background-color: white;
}
    .imagegrid img{
        width: 40vh;
        height: 40vh;
        transform: scale(auto);
        margin: 5vh;
        cursor: pointer
    }

    .imagegrid img:hover{
        transform: translateX(5px);
        transform: translateY(5px);
        border-radius: 10%;
    }

    .displaygrid iframe{
        position: relative;
        width: 30vw;
        height: 100vh;
        grid-row: 1;
        grid-column: 2;
        transform:translateY(-10vh);
        transform: translateX(5vw);
        z-index: 0;
    }

    .right{
       margin-top: 0;
       grid-column: 3;
       z-index: 100;
    }
    .right .content{
        position: fixed;
        display: block;
        width: 40vw;
        margin-top: 16vh;
        transform: translateX(-20vw)
    }

    .right h1{
        font-size: 5vh
    }
    .right p{
        font-size: 2vh;
    }

    .right a{
        color: cornflowerblue;
        cursor: pointer;
        font-family: 'JetBrains Mono', monospace;
    }
